@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-[32px] font-bold text-black;
  }

  h2 {
    @apply text-[24px] font-bold text-black;
  }

  h3 {
    @apply text-[20px] font-bold text-black;
  }

  .body-1 {
    @apply text-[14px] text-black;
  }

  .body-2 {
    @apply text-[12px] text-black;
  }

  .subheader {
    @apply text-[14px] font-bold uppercase text-black600;
  }
}
